<style>
  h1 {background-color: #A9A9A9; color: #f2f2f2;}
  body {font-size:20px; margin:0;}
</style>

<header>
  <img class="pet-image" src="https://www.planitbusiness.com/wp-content/uploads/2017/03/Pets.jpg" alt="Pet Shop Inventory" width="1250" height="300">
</header>

<% provide(:title, @user.name) %>
<div class="row">
<aside class="col-md-4">
  <section class="user_info">
    <h1>
      <%= @user %>
      <%= @user.name %>
    </h1>
  </section>
</aside>
</div>