<style>
body {
    background-color: #F2F1F1;
}

h1 {
    background-color: #DCE0E0;
}

p {
    background-color: rgb(255,0,255);
}
</style>
<div>
  <center><h1>Pet Shop Inventory</h1></center>
</div>

<h2>New Animal</h2>

<%= render 'form', animal: @animal %>

<button><%= link_to 'Back', animals_path %></button>
